p {   
color: red; font-family:Algerian; font-weight:bold ;text-align:center; font-size: 40px;
}
.p1{  
color: white; font-family: Rockwell ; font-size:40px;text-align:left;; margin:30px 0px 0px 100px;
}
body {  
  background-color: black;
}
h1{
 color: white; font-family: Rockwell ; text-align: center;
}

button {
background-color: red;
color: white; 
font-size:30px;
margin-rigt:500 px
border:solid 02px red;
border-radius: 7.5px;
}
img{
height: 350px;
width: 500px;
border: solid 2px;
margin: 0px 200px  100px 0px;
}
.img1{
height:350px;
width: 350px;
border: solid 2px;
margin: 0px  0px  30px 50px;
}
a{
color:white;
text-align:center;
  }
